@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:aqua;">
    <h1 class="display-4">Welcome to CG Infinity</h1>
    <h2 class="text-bg-dark"> Navigate to Categories Page to Create a Category and View the Existing ones</h2>
    
</div>
